html {
  background-color: #fFffff;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: #04005d;
  line-height: 1.4;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

a {
  font-size: 20px;
  color: #04005d;
  text-decoration-line: none;
}

a:hover,
a:active,
a:focus {
  font-weight: 700;
}

img {
  position: absolute;
  top: 365px;
  right: 51px;
  height: 75px;
  -webkit-user-drag: none;
}

.card {
  border-radius: 0px;
  background: #FFFFFF;
  padding: 7px 7px 7px 7px;
  width: 700px;
  height: 400px;
  box-shadow: 0px 0px 25px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  font-size: 30px;
  font-weight: 300;
}

.card-inner {
  border: 3px solid #04005d; /* Thin border inside */
  padding: 1px 10px 10px 10px; /* Space between the border and content */
  height: 100%;
  width: 100%;
  box-sizing: border-box; /* Keeps the padding and border inside */
  position: relative; /* Added to make .card-inner the positioning context */
}

#contacts {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.contact-row {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: space-between; /* Ensure email and resume are spaced out */
}

.contact-row a {
  font-size: 20px;
  color: #04005d;
  text-decoration-line: none;
  transition: font-weight 0.3s ease; /* Transition only for font-weight */
}

.contact-row a:hover {
  font-weight: 700; /* Bold the text on hover */
}

.resume-button {
  margin-left: 20px; /* Optional spacing between the email and resume button */
  position: absolute;
  right: 20px; /* Offset from the right edge of .card-inner, matching its right padding */
}





@media only screen and (max-device-width: 800px) {
  .card {
    width: 600px;
    height: 300px;
  }

  img {
    top: 265px;
  }

  h1 {
    font-size: 40px;
  }

  a {
    font-size: 25px;
  }

  #content {
    font-size: 25px;
  }
  .contact-row {
    font-size: 25px;

  }
}

@media only screen and (max-device-width: 700px) {
  .card {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (max-device-width: 500px) {
  .card {
    width: 300px;
    height: 350px;
  }

  img {
    top: 315px;
  }
}

@media only screen and (max-device-width: 400px) {
  .card {
    width: 250px;
    height: 300px;
  }

  img {
    top: 245px;
    height: 45px;
  }

  h1 {
    font-size: 27px;
  }

  a {
    font-size: 15px;
  }

  #content {
    font-size: 20px;
  }

  .contact-row a {
    font-size: 15px;
  }

}

